pkgbase = ntfy-notify-send-bridge-git
	pkgdesc = Bridge messages from ntfy to notify-send using a systemd user service.
	pkgver = 0
	pkgrel = 1
	url = https://github.com/tim-projects/ntfy-notify-send-bridge
	arch = any
	license = MIT
	depends = python
	depends = python-requests
	depends = python-pyyaml
	depends = python-aiohttp
	depends = libnotify
	provides = ntfy-notify-send-bridge
	conflicts = ntfy-notify-send-bridge
	source = ntfy-notify-send-bridge.py
	source = ntfy-notify-send-bridge.service
	source = client.yml
	sha256sums = 847c1ef854dcc805d8b0f89e90d6205df0d12857eb66b2050e20914469c9c1ab
	sha256sums = e36714a16816141c461d39614b19dfa5bb4bd242d21d0793f4b700baee5168fb
	sha256sums = 1edb61769ad62ce184df6797912724ae8e460953f5929cf4da00a23cb45e64b5

pkgname = ntfy-notify-send-bridge-git
